.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    position: relative;
    flex-grow: 1;
  }
}

.section {
  padding: $m-gutter;
}

.container {
  max-width: $m-max-width;
  margin: 0 auto;
}