$c-black: #1b1b21;
$c-white: #fff;
$c-silver: #f8f8f8;
$c-blue: #4e6ffb;
$c-red: #df3b00;
$c-disabled: #d0d0d9;
$c-border: #ececec;
$c-overlay: rgba(27,27,33,0.50);

$f-lg: 24px;
$f-reg: 20px;
$f-sm: 18px;
$f-xs: 14px;

$e-modal: 9992;
$e-overlay: 9991;

$m-max-width: 44rem;
$m-gutter: 20px;
$m-border-radius: 8px;

@import "box-sizing";
@import "resets";
@import "layout";
@import "navbar";
@import "tours-list";
@import "ui-modal";
@import "forms";
@import "components/form-input";

// Pages
@import "tour";

.link {
  color: $c-blue;
}

.btn {
  opacity: 0.5;
  transition: opacity 0.1s;

  &--danger {
    color: $c-white;
    background: $c-red;
  }

  &:hover {
    opacity: 1;
  }

}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
}

.show-detail {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $m-gutter;

    .title {
      margin: 0 0 5px;
      font-size: $f-lg;
      font-weight: bold;
    }

    .dates {
      margin: 0;
      font-size: $f-reg;
      font-weight: bold;
      color: $c-disabled;
    }

    .status-pill {
      width: 200px;
      padding: $m-gutter / 2;
      border-radius: $m-border-radius / 2;
      color: $c-white;
      background: $c-blue;
      text-align: center;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -20px;
    padding: ($m-gutter / 2) $m-gutter;
    border-top: 1px solid $c-border;
    border-bottom: 1px solid $c-border;

    .subtitle {
      margin: 0;
      font-size: $f-sm;
    }

    .link {
      font-size: $f-xs;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $m-gutter;

    > * {
      flex-basis: calc(50% - 10px);
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}


.search-input {
  margin-bottom: $m-gutter;
}