.form-input {
  width: 100%;
  margin: $m-gutter 0 0;

  * {
    display: block;
  }

  &__label {
    margin-bottom: 3px;
    font-size: $f-sm;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $c-border;
    border-radius: $m-border-radius;
    font-size: $f-xs;
  }
}