<UiModal @close={{action "transitionToTour"}}>
  <div class="show-form__heading">
    <h3 class="title">Tour Settings</h3>
  </div>
  <div class="form-control">
    <button class="btn btn--danger" onclick={{action "deleteTour"}}>Delete Tour</button>
  </div>
</UiModal>