<div class="section">
  <div class="container">

    <div class="tours">
      <div class="tours__heading">
        <h2 class="tours__heading__title">Tours</h2>
        <button class="tours__heading__button">Create New Tour</button>
      </div>
    </div>

    <div class="tours__list">
      <div class="tours__list__item">
        <h3 class="title">Moru Spring Tour</h3>
        <p class="dates">Dates TBD</p>
        <div class="status-pill">Status</div>
      </div>
      <div class="tours__list__item">
        <h3 class="title">Moru Spring Tour</h3>
        <p class="dates">Dates TBD</p>
        <div class="status-pill">Status</div>
      </div>
      <div class="tours__list__item">
        <h3 class="title">Moru Spring Tour</h3>
        <p class="dates">Dates TBD</p>
        <div class="status-pill">Status</div>
      </div>
      <div class="tours__list__item">
        <h3 class="title">Moru Spring Tour</h3>
        <p class="dates">Dates TBD</p>
        <div class="status-pill">Status</div>
      </div>
    </div>

  </div>
</div>