<div class="section">
  <div class="container">

    <div class="tours">
      <div class="tours__heading">
        <h2 class="tours__heading__title">Tours</h2>
        <button class="tours__heading__button" onclick={{action "toggleModal"}}>Create New Tour</button>
      </div>
    </div>

    <ul class="tours__list">
      {{#each model as |tour|}}
        <li class="tours__list__item">
          <h3 class="title">{{tour.title}}</h3>
          <p class="dates">Dates TBD</p>
          <div class="status-pill">Status</div>
        </li>
      {{/each}}
    </ul>

  </div>
</div>

{{#if modalOpen}}
  {{#ui-modal close=(action "toggleModal")}}
    Create tour
  {{/ui-modal}}
{{/if}}
